@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }

  to {
    border-color: blue;
  }
}

.animate-typing {
  width: 100%;
  /* controls the overall size */
  overflow: hidden;
  border-right: 4px solid;
  animation: typing 4s steps(40, end), blink 0.7s step-end infinite;
}

/* Hide the animation for screens smaller than large */
@media (max-width: 1024px) {

  /* assuming lg is 1024px */
  .animate-typing {
    animation: none;
    /* Disable animation */
    border-right: none;
    /* Remove border for small screens */
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.fade-in-animation {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
